[2014-07-03 12:25] jancelin opened #1 "bug: install plugin qgis-versioning ubuntu 14.04"
jancelin@jancelin:~$ cd
jancelin@jancelin:~$ git clone https://github.com/Oslandia/qgis-versioning.git
Clonage dans 'qgis-versioning'...
remote: Counting objects: 472, done.
remote: Compressing objects: 100% (159/159), done.
remote: Total 472 (delta 311), reused 472 (delta 311)
Réception d'objets: 100% (472/472), 537.39 KiB | 412.00 KiB/s, done.
Résolution des deltas: 100% (311/311), done.
Vérific

[2014-07-07 10:39] #1 closed, assigned to nobody

[2014-07-07 11:04] gioman opened #2 "python error when activating the plugin"
maybe I'm just missing some step of the installation (I'm on Ubuntu 14.04)?
cheers!

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/qgis/utils.py", line 204, in startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "/home/giovanni/.qgis2/python/plugins/qgis-versioning/**init**.py", line 6, in classFactory
    return versioning.Versioning(iface)
  Fi

[2014-07-11 05:16] pcav opened #3 "Please add it to standard repo"
Thanks

[2014-07-11 11:34] gioman opened #4 "python error when clicking on group"
I just noticed that in a project with groups not containing postgis layers I get the following

Traceback (most recent call last):
  File "/home/giovanni/.qgis2/python/plugins/qgis-versioning/versioning.py", line 220, in on_legend_click
    assert( selection_type )
AssertionError

[2014-10-22 17:27] linzadmin opened #5 "Support for 2.6?"
When I try to load the plugin for 2.6 I get the following:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/qgis/utils.py", line 208, in startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "/home/jpalmer/.qgis2/python/plugins/qgis-versioning/**init**.py", line 6, in classFactory
    return versioning.Versioning(iface)
  File "/home/jpalmer/.qgis2/p

[2014-10-22 18:09] #5 closed, assigned to nobody

[2015-02-06 14:34] andrei4002 opened #6 "qgis 2.6 & spatialite"
I'm trying to do a checkout operation in a sqlite store, but it gives me some weird error "insert on views_geometry_columns violates constraint: f_geometry_column value must be lower case"

is it a spatialite issue? any ideas on this?

[2015-02-06 14:53] vmora commented on #6
On checkout, the conversion from the postgres DB to spatialite is done with ogr2ogr, could you uncomment the prints at line 222 and 243 in versionning_base.py

You can also set the verbose on the Db instance to view the SQL statements before they are executed.

[2015-02-06 15:45] andrei4002 commented on #6
there seem to be some constraints (not sure if they are new or something) in spatialite that require the geometry column names in the views_geometry_columns and geometry_columns to be lowercase (in versioning_base.py, i see a lot of calls using GEOMETRY as a column name inserted.

There are also some other issues where a column named 'type' is called on views_geometry_columns, but the correct colu

[2015-02-06 15:51] vmora commented on #6
I thanks for that. There are a bunch of test scripts in the test directory. PR are welcome.

I'd like to know the version of your spatialite.

[2015-02-06 15:52] andrei4002 commented on #6
any idea how to check the version? I'm just running osgeo4w with the latest qgis (2.6.1)

[2015-02-06 16:02] vmora commented on #6
in osgeo4w, in adavanced mode (for adding components) you have the versions.

[2015-02-06 16:42] andrei4002 commented on #6
not sure which is which so here's a screenshot

![screen shot 2015-02-06 at 18 41 07](https://cloud.githubusercontent.com/assets/475334/6083232/c2b98ef4-ae2f-11e4-921f-69b40e0a1eee.png)

[2015-02-06 16:47] vmora commented on #6
4.4.1 thanks!

[2015-02-24 09:49] andrei4002 commented on #6
any updates on this?

if it's not going to be fixed soon, can you recommend the latest version of qgis/spatialite that would work in the current form of the plugin?

[2015-02-24 10:29] vmora commented on #6
Unfortunately I won't have time to fix that soon.

I guess that a find/replace of "GEOMETRY" by "geometry" would fix the problem. Could you try this simple fix ?

[2015-02-24 11:50] andrei4002 opened #7 "postgres local checkout from remote prostgres"
is it possible to checkout from a remote postgres schema, to a local working postgres schema ?

[2015-02-24 12:35] vmora commented on #7
I don't think so because the code uses the same connection info for the checkout.

[2015-07-07 11:24] hpfast opened #8 "Is there a concept of merging branches?"
Hi, nice work!

Is there a concept of merging branches back together? There doesn't seem to be a user interface for it.

[2015-07-07 14:48] vmora commented on #8
On update, if you have conflicts, at table is created with
'yours'/'theirs' layer and the deletion of the entry in the table/layer
causes a trigger to reconcile changes.

/!\
  - The conflict table is not loaded automatically if it has no
geometry, you have to load it yourself
  - On deletion on one conflict row (theirs or yours), both rows are
deleted from the conflict (because you solve it by ch

[2015-07-07 20:11] hpfast commented on #8
Thanks for the pointers! I'll look into that when I have time.

On Tuesday, July 7, 2015, Vincent Mora <notifications@github.com> wrote:

you solve it by choosing) but qgis

https://ci5.googleusercontent.com/proxy/wi5zOoLXQQUtQYb-wryxw3ih-hl96BNG-rR7JVrWkEAiHrUOdEUjI-_zfeOXU6xAAWC52YpzRg1khHqNkc_m_3Z9kz5a9SDR-zsab32Z3rmQBuO1dl8JnzKfKQ85A7p-4S5wFG7lorKsWS1lCxoMGFRmogvc8g=s0-d-e1-ft#https://github.c

[2015-07-24 23:55] gignacnic commented on #6
@andrei4002 & @vmora :
I have made a formal branch with fixes proposed in this ticket and @andrei4002 suggestions (see this url for my branch including two commits: https://github.com/GISeHealth/qgis-versioning/tree/fix_spatialite_4.x).  Using .../test/versioning_base_test.py, I have verified checkout & modification, it works fine now (QGIS 2.8.2 Linux Mint 17, PostgreSQL 9.4 and PostGIS 2.1.8), b

[2015-07-26 17:51] vmora commented on #6
@gignacnic did you try to print the ogr2ogr command issued by the versionning module to check that it matches the one that you use ? Normally it's a system call, so if it works on command line and it doesn't work as a python system call, then the problem is either a slightly diffirent command or a difference in environment variables (the later seems less likely to me).

[2015-07-30 21:20] ymoisan commented on #6
Here are my test results :

I get the versioning_base_test.py to succeed when I explicitly add

'-a_srs EPSG:2154'

in the ogr2ogr command in the python file :

ipdb> cmd.insert(5, '-a_srs EPSG:2154')
ipdb> p cmd
['ogr2ogr', '-preserve_fid', '-f', 'PostgreSQL', u'PG:"dbname=epanet_test_db active_schema=epanet_trunk_1_to_2_diff"', '-a_srs EPSG:2154', '-lco', 'GEOMETRY_NAME=geom', '-lco', 'FID=jid',

[2015-08-02 00:48] gignacnic commented on #6
@vmora : we found the problem it was not ogr2ogr problem, but a change I made at line 711:  geom = sql.find('geometry') != -1 that was not appropriate, which did not create the INSERT in the metadata geometry_columns in spatialite as suppose, just before the ogr2ogr command to PG. A PR has been to include fix for spatiality 4.x version include in the latest QGIS 2.8 version: https://github.com/Osl

[2015-08-11 08:17] vmora opened #11 "Remove dependency on pyuic4"
Use

    from PyQt4 import uic

Instead

[2015-08-11 08:18] vmora opened #12 "Add target to build qgis plugin for insertion in repository"
-> Zip file

[2015-08-11 12:05] gignacnic commented on #6
We can close this issue, since it is resolved by this merge: https://github.com/Oslandia/qgis-versioning/pull/10

[2015-08-11 12:12] vmora commented on #6
thanks

[2015-08-11 12:12] #6 closed

[2015-08-11 12:17] vmora opened #13 "Remove dependency on CMake"
Cmake is just used for the tests and running puic4.

Once #11 is closed, replacing cmake by a simple python script or shell script, or plain old Makefile seems a better option to me.

[2015-08-12 14:41] Roel opened #14 "Conflict layers in Spatialite working copy are not added to the project"
The conflict layers created in Spatialite working copies are not added to the QGis project (an errormessage is shown briefly). You can still add them manually by connecting to the Spatialite db and ticking the 'Also list tables with no geometry' box. They are then added as flat tables without geometry.

Source of the issue seems to be the call to the RecoverGeometryColumn function (versioning_base

[2015-08-13 19:57] vmora commented on #14
Is it possible to add a unit test that reproduces the issue ?

[2015-08-14 13:06] Roel commented on #14
I've never made such a test before, but I'll try to make something based on the existing examples.

[2015-08-14 13:08] Roel opened #17 "Support for PostGIS databases using non-'public' schema"
PostGIS databases using a schema other than 'public' for their functions and tables are currently unsupported due to the use of the 'active_schema' option in ogr2ogr.

[2015-08-15 17:21] gignacnic commented on #3
@vmora  this has not been fixed, now that all formal plugin release are pushed it the formal QGIS plugin repo?

[2015-08-15 17:28] gignacnic opened #19 "Mac OS X - checkout with SpatiaLite..."
I cannot checkout with my current QGIS 2.10 (same for QGIS 2.8) in SpatiaLite format on my Mac OS X Yosemite 10.10.4, PostGIS checkout is fine.
See the details below. I have installed requirement put here:http://www.kyngchaos.com/software/qgis

Any idea what can cause this problem?

Traceback (most recent call last):
  File "/Users/xxxxx/.qgis2/python/plugins/qgis_versioning/versioning.py", line 5

[2015-08-17 07:25] vmora commented on #3
@gignacnic I'm not sure I understand the question.

[2015-08-17 07:28] vmora commented on #19
Can you set the verbose option in the cursor decorator (Db instance) to see the complete sql statement ?

[2015-08-17 17:27] gignacnic commented on #3
This issue should not be closed?

[2015-08-18 07:30] vmora commented on #3
Yes, you are right.

[2015-08-18 07:30] #3 closed

[2015-08-21 08:30] haubourg opened #20 "plugin crash if table revision already exists"
[code]

[2015-08-21 08:32] haubourg opened #21 "Add support for Primarey key on multiple columns"
[code]

[2015-08-21 08:35] haubourg opened #22 "Add support for non integer primary key"
[code]

[2015-08-21 08:42] haubourg opened #23 "QGIS master crashes when lauching plugin"
my context of use:
- one pg db, with one table in schema qgiswork
- table def:

[code]

[2015-08-21 10:29] vmora commented on #22
Sorry, my sentence here http://www.oslandia.com/qgis-versioning-plugin-en.html:

    tables must have primary keys

is incomplete: tables must have single field integer primary keys.

[2015-08-21 10:30] vmora commented on #21
Same comment as #22

[2015-09-28 14:13] Roel opened #25 "Features appearing twice in Spatialite working copy"
I notice features appearing multiple times in Spatialite working copies when synchronising data between multiple clients. The PostGIS master table and views are not affected, the problem exists only in the working copies on the clients.

Furthermore it appears to occur only with features edited by other users and when synchronising multiple revisions at once.

This leads me to believe the diff app

[2015-09-30 02:02] gignacnic commented on #19
After investigating, I have found it was a system configuration of GDAL that needed to be done on my  Mac. My problem (in debug mode in QGIS I had this: sh: ogr2ogr: command not found) was fixed by this config:
export PATH=/Library/Frameworks/GDAL.framework/Programs:$PATH
I found it while using this config steps of GDAL on Mac (not the formal one of the KyngChaos web site) : https://sites.google.c

[2015-09-30 02:02] #19 closed

[2015-09-30 18:41] ymoisan commented on #4
Or an error message could be generated or better the "V" could be replaced by some sort of "non-versionable" icon (thereby not interrupting the user and just showing the state of the group).  If a user creates a group of layers coming e.g. from shapefiles, clicking on the group triggers the assert error (tested on the latest plugin code).

[2015-10-01 07:01] #4 closed

[2015-10-01 07:04] vmora commented on #4
@ymoisan, this is what I wanted to achieve, but my logic was flowed because I forgot to test that there was a database in layer source. Should be fixed now. Thanks for reporting.

[2015-10-01 13:02] ymoisan commented on #4
Head revision : d30787e (your recent commit)

The plugin menu shows the text "Not versionable" instead of the assert error

Thanx !

[2015-11-11 16:10] ymoisan commented on #25
I have experienced the same behaviour : GISeHealth#19

[2015-11-12 09:38] vmora commented on #25
@ymoisan, @Roel it would be nice to have a test case for that.

[2015-11-12 18:17] ymoisan commented on #25
@vmora : see comment today at GISeHealth#19

[2015-11-12 20:32] ymoisan commented on #25
"changing the diff statement to include records where rev_end >= rev instead of strictly rev_end = rev? "
the code shows ">=" in *update* and "=" in *pg_update*.

[2015-11-12 20:54] ymoisan commented on #14
@Roel : it seems your PR was integrated on Aug 13, 2015 (#15).  I personally have always seen conflict layers loaded in QGIS, but my tests were done after Aug 13 so with the PR included.  Are there edge cases I haven't seen or is this issue fixed ?

[2015-12-07 09:45] #11 closed

[2016-01-21 00:17] ymoisan opened #35 "Error when revision schema already exists"
If the schema for a specific revision exists AND the current user requesting it after clicking on the view button is not the owner of the schema, this is what the user gets when trying to retrieve the revision :

An error has occured (sic) while executing Python code:
[code]
The reason is that line :
[code]
in versioning_base.add_revision_view returns nothing if the current user is not the owner o

[2016-01-21 01:02] gignacnic commented on #35
+1 for me, I always see all these schemas viewed for each revision in the database a little too much, especially when we have many revisions to be viewed (ex. more than 50). One schema view revision per pg_user is just fine.

[2016-01-21 14:37] ymoisan commented on #35
There is a problem with my approach : if a user wants more than one revision in a particular work session, then layers showing the first revisions fetched get overriden on the back end (e.g. on pan/zoom).  Solutions I see are of two groups :

1. We don't care about persistence ...
    a. on the back end by transferring the data locally in a spatialite (SL) file and build the layer out of it
    b.

[2016-01-21 15:14] ymoisan commented on #8
Dumb question maybe : are branches really useful for geodata ?  To me, a history of geodata sets is more akin to, for example, the history of a Wikipedia article : a sequence of edits, information about which is maintained and presented to the user (e.g. "view history" in Wikipedia).

Are branches a la git, that is temporarily forking the dataset to experiment with it, really useful ?  I can't see

[2016-01-21 15:48] ymoisan commented on #35
"Schemas are analogous to directories at the operating system level, except that schemas cannot be nested." (http://www.postgresql.org/docs/current/interactive/ddl-schemas.html).  So we can only have a linear structure to hold schemas and thus the only way to reduce clutter is to reduce the number of objects.

[2016-01-25 15:50] ymoisan commented on #35
Potential ways to alleviate the issue :

1) Add privileges to all pg_users to view the contents of the schemata view even though they are not the owner of some views (http://www.postgresql.org/docs/current/static/infoschema-schemata.html; http://www.postgresql.org/message-id/11650.1357782995@sss.pgh.pa.us)

2) wrap the code in a try block and pop a message box indicating the user should ask the DB

[2016-01-27 16:32] ymoisan commented on #35
@vmora : Here is a solution proposal to both the bug reported and the proliferation of schemas :

- at historize time (versioning_base.historize), create one schema that will be home to all revision-specific views, e.g. schema+'revision_views'

- at view creation time, add views that have unique names instead of the currently generic name of *tableName*, e.g. :
  - *tableName_rev_X_pgUser* in vers

[2016-01-27 23:27] gignacnic commented on #35
As discuss before, +1 for me.

[2016-01-28 09:14] vmora commented on #35
Have you tried replacing the view by their select in qgis layers.

Views are basically just an alias for a select (except for working copies which are editable and have triggers). So you can create a qgis layer with the same select I thing: no need to add anything to the database and everyone with select role can do that.

[2016-01-29 20:40] ymoisan commented on #35
@vmora : Thanx for the suggestion.  I got it working for the diffmode (see the view() method in https://github.com/GISeHealth/qgis-versioning/blob/diffmode/versioning.py calling versioning_base.add_diff_revision_view).  Warning : the code hasn't been cleaned yet.

I thought about doing the same thing in versioning_base.add_revision_view,  but I realized doing this means I'll have to edit tests.  W

[2016-02-01 21:18] ymoisan commented on #35
@ vmora : I have a first pass on getting rid of schemas for views altogether : 3ec1f8b.  Note I am not calling versioning_base.add_diff_revision_view at all.  I do everything in versioning.py.  I guess we could do as I do for the diffmode and get versioning_base.add_diff_revision_view to return the select str for the "full rev" case too.  Do you prefer that or should I construct my select_str for

[2016-02-02 09:46] vmora commented on #35
It may be nice to have a function in versioning_base to compute the where clause and another to build the complete "select" statement". Otherwise I thing we have a nice solution here.

We can keep the view creation functions in versioning_base (e.g. for testing) but use the select construction function inside.

I think also that the type conversion code has it's place in versionning base (the type

[2016-02-02 13:37] ymoisan commented on #35
Thanx for your comments.  You mean move mem_layer_uri (and associated field_names_types) to versioning_base and pass an argument to the view functions, like *vector_layer_type* with possible options of 'postgres' or 'memory' ?

As to the separation of the select and where in two functions, I don't see much need for it since the select doesn't add much to the where, especially in the case of the di

[2016-02-02 16:01] vmora commented on #35
if it's the string yes, if it's the qgis class, no. It just look like some of the code could be moved to the base module, but no dep on qgis in the base module (that's the design).

You should be able to set the where clause in qgis (in layer properties/filter) maybe it's just the mechanism we need.

[2016-02-02 22:27] ymoisan commented on #35
I moved the string manupulation function (renamed to *mem_field_names_types*) to versioning_base and left *mem_layer_uri* in versioning : 723dec2.  I could have moved *mem_layer_uri* too but the dependency on QGis.WKB* definitions was cumbersome.  I also integrated the where clause in the sql= parameter of the uri.  Cleaner indeed (although one has to know looking at the layer source in the QGIS p

[2016-02-03 04:26] vmora commented on #35
I don't get that. A branch is like another db altogether, so I don't see what concept could involve more than one branch column (except for "merge branch_1 -> branche_2" which is not implemented at the moment.

A missing 'disconnect' somewhere. It will happen if the qobject is not destroyed and connect several times.

[2016-02-10 14:29] ymoisan commented on #13
You can close that I guess :-)

[2016-02-10 14:32] ymoisan opened #38 "No author in revisions table when creating a branch"
Creating a new branch adds a new record to the revisions table, but without an author :

![no-author](https://cloud.githubusercontent.com/assets/7468595/12950052/340e2896-cfd9-11e5-9971-71d1e322a09d.png)

[2016-02-11 08:14] #13 closed

[2016-02-12 20:13] #35 closed

[2016-02-16 14:42] ymoisan opened #39 "Spatialite checkout won't update after branch creation"
Take an existing spatialite working copy (checkout of TRUNK) at revision X.  Create a new branch (rev X + 1).

Trying to update the working copy to rev = X + 1 will return an "already up to date message".  Doing another spatialite checkout will however create a sqlite file with the right revisions number (X + 1) so in effect the user will have two identical spatialite checkouts but with different

[2016-02-16 16:15] ymoisan opened #40 "Infotext in plugin issues"
The infotext displayed on the left of the plugin menu shows inconsistencies.
1. Deleting a group in legend does not trigger an update in the infotext

To reproduce :
- add a working copy and click on the group : text info on the left of the plugin menu displays correctly
- remove layer group : text info remains unchanged (still showing the previous SL filename or DB info for pg checkout)

The only

[2016-02-19 17:23] ymoisan commented on #39
A test this morning indicates a little more complicated behaviour.  I successfully updated a very old working copy that was 16 revisions behind HEAD even though there have been new branches created in one of those revisions.

[2016-02-22 20:07] ymoisan opened #43 "Customization : override some plugin default settings"
There is a need to add organization-specific items to customize the plugin installation.  Two such items for the versioning plugin are :
- disable the use of branches
- provide a different url for the documentation

Second url below says "global settings ... provided directly by Qt framework by the means of QSettings class. By default, this class stores settings in system’s “native” way of storing

[2016-02-22 20:28] ymoisan commented on #43
Question : what if the user installing the plugin on Windows does not have write access to the registry ?  Can we have a default value in the plugin runtime then until sys admins fill in values for those settings as registry keys ?

[2016-02-22 20:35] vmora commented on #43
1 Only the one setting up qgis for health will need writting
2 Normally QSetting will deal with those kind of problems (to be tested) because qgis makes use of those, and there is no problem that I know about.

[2016-02-22 20:48] ymoisan commented on #43
Thanx.  To avoid problems for non admin Windows users, I would check in the plugin if a value is set.  If not, I'd give it the default (hardcoded in Python).  Else I'd take whatever QSettingsvalue() returns.

[2016-02-23 00:23] vmora commented on #43
The `value(name, default)` is meant for that, no need to check, it will return the default if value is not defined.

[2016-02-23 13:09] ymoisan commented on #43
Excellent, thanx !

[2016-02-24 18:52] ymoisan commented on #43
Two (2) QSettings implemented : 04e66e4

    'qgis-versioning/use-branches'
branches disabled if value is "False" or "false" (booleans cast to str to make sure we catch those too); else enabled

    'qgis-versioning/help-url'
any well-formed url, else the default RTD site.

Pretty simple.  Works whether system wide (e.g. registry keys) settings exist or not.  Tested on Ubuntu and Windows 10.

@vmo

[2016-02-25 19:49] ymoisan commented on #43
Added documentation : 8424e4c

[2016-06-22 07:39] eg-novelt opened #45 "Syntax Error in Delete Trigger in PostGIS checkout"
To reproduce the problem, create a PostGIS checkout, then try to delete some geometries.  There will be a syntax error in the delete trigger.

The problem is here:

https://github.com/Oslandia/qgis-versioning/blob/master/versioning_base.py#L1479

The hardcoded schema in the code "epanet" does not exist.  Seems like it should be the variable schema, like so

"SELECT "+cols+", "+hcols+" FROM "+schem

[2016-06-22 08:59] vmora commented on #45
Hi, thanks for reporting and finding the bug.

Would you mind submitting a PR ?

[2016-06-22 11:46] eg-novelt commented on #45
PR created:

https://github.com/Oslandia/qgis-versioning/pull/46

Merci pour la réponse rapide

[2016-08-18 14:26] simbamangu opened #47 "Uncaught AssertionError"
Steps to reproduce
1. Add PostGIS layer to group;
2. Select 'versioning' tool
3. Confirm that '4 fields will be added ...'

Fails with the below error on Mac OS X 10.10.5, QGIS 2.14.

Also fails on Linux 16.04, QGIS 2.16.

[code]

qgis_versioning 0.4, QGIS 2.14.3-Essen on Darwin 14.5.0

[2016-08-24 09:35] eg-novelt commented on #45
This has been fixed by the PR

[2016-08-24 09:35] #45 closed

[2016-10-05 19:10] Sameme opened #49 "Spatialite Checkout error"
Spatialite checkout is not working with the plugin. Coming up with this python error

"2016-10-05T19:58:30    1   Traceback (most recent call last):
              File "C:/Users/eHA-Samuel/.qgis2/python/plugins\qgis_versioning\versioning.py", line 692, in checkout
                tables_for_conninfo, filename, user_selected_features )
              File "C:/Users/eHA-Samuel/.qgis2/python/plugins\q

[2016-10-06 09:15] vmora commented on #49
The line 123 in master reads:
[code]

So I would need the release version you are using.

[2016-10-06 09:38] Sameme commented on #49
This the version i have on my system
Installed version: 0.4

I guess this is the only available version on the QGIS Repo or Can one chose version?

[2016-10-13 07:24] guyschvitz commented on #49
I have the same issue! Also using version 0.4. QGIS reports this error and then stores a SpatiaLite file that fails to load.

[2016-10-13 08:36] vmora commented on #49
Maybe the same problem, with solution here: https://github.com/GISeHealth/qgis-versioning/issues/38

[2016-11-21 07:54] peter-shr opened #51 "Uncaught AttributeError: 'NoneType' object has no attribute 'source'"
Steps to reproduce
 1. First
 2. Second
 3. Third

[code]
qgis_versioning 0.4, QGIS 2.14.8-Essen on Windows 10

[2017-03-22 01:36] gignacnic opened #53 "bug: error unique of _diff_pkey when update from a checkout that is revision late"
When a revision is very late from a lot of features (thousand) committed in multiple revision (tens) in the source schema and also many features (thousand) that needs to be commit, it can create an integrity problem when doing the update at first.
The error arrive at line #1598 of versioning_base.py:

 pcur.execute("UPDATE "+wcs+"."+table+"_diff "
                "SET "+pkey+" = "+pkey+" + "+str(b

[2017-03-23 12:49] vmora commented on #53
@gignacnic is it possible for you to provide a test case, you can remove all data columns to avoid.

also, I'm not sure why:
[code]

instead of a stupid
[code]

this may cause jumps in pk numbering (do we care?) but should prevent the problem.

[2017-03-23 12:50] vmora commented on #53
Also, the logic shouldn't depend on the number of features... except if we bump ids out of the realm of integers and get an "overflow" (back to 0).

[2017-03-23 13:25] gignacnic commented on #53
It happens, when for example id = 123900 is in the _diff table and another id = 123901 also exists in the _diff, in a case where the bump value=1, when UPDATE SET id = id + bump it will create the error when updating id = 129300 because there is already an id = 123901 in _diff table: "duplicate key value violates unique constraint _diff_pkey" which makes senses. I think the bump value can create p

[2017-03-23 13:51] vmora commented on #53
As I mentioned earlier the bump is there to get a unique PK, there is definitely a bug if it doesn't.

If I understand well what I did: I take the max_id at the creation of the working copy, and compute the difference with the current max_id in the repos, then take the différence to offset the ids. This should result in a unique id, since the old ids in the working copy should be offsets from the

[2017-03-23 14:16] gignacnic commented on #53
Yes, they are inferior, but the bump value create new ids already presented in the _diff that will be update in the process...
An example would be :
max_id source db = 123902
max_id at the creation of the working copy = 123900
BUMP = 2
ID to be update = 129000
Other ID in the database :
129001
129002
129003
For id = 123901
UPDATE SET id = id + 2
ERROR for id = 129001 because id 129003 already pres

[2017-03-24 01:06] gignacnic commented on #53
@vmora see the example detailed here: http://grokbase.com/t/postgresql/pgsql-general/079r1e1e17/why-the-error-duplicate-key-violates-unique-constraint-master-pkey-is-raised-is-this-a-bug

See their example to fix this workaround:
begin;
update master set m1=-m1;
update master set m1=-m1+1;
commit;

From this thread, it should better to do this instead (see minus before pkey value in SET):

pcur.ex

[2017-03-30 16:39] vmora commented on #53
@gignacnic I think this problem is solved by the merged PR, can you close ?

[2017-03-30 16:58] #53 closed

[2017-03-30 19:52] Sameme opened #55 "Spatialite checkout bug"
This bug issue occurs when you do a spatialite checkout and edit your file. Once you commit the changes in your spatiliate checkout to the master, all edited information in fields with string data type are abbreviated to the first alphabet of whatever you inputted.

[2017-03-30 19:57] Sameme opened #56 "Spatialite checkout needs to be upgraded to work perfectly on higher version of QGIS ex. QGIS 2.14"
Using the spatialiet checkout of the plugin only works perfectly with QGIS 2.8, once you start using it with higher QGIS version, it starts coming up with various errors and issues.

Find error screenshots below
![picture1](https://cloud.githubusercontent.com/assets/12427102/24523561/5a3c1980-158b-11e7-967f-0da609f73c00.png)
![picture2](https://cloud.githubusercontent.com/assets/12427102/24523573/

[2017-03-31 07:47] vmora commented on #56
Can you tell me the version of gdal (ogr2ogr), the version of spatialite and the version of qgis you are using ?

[2017-03-31 09:34] Sameme commented on #56
I used QGIS 2.14.12, gdal/ogr version 2.1.3 and spatialite Version 4.3.0.

[2017-03-31 12:16] gignacnic commented on #56
I supposed this kind of test will be easier to do when the Travis-CI QA will be fully integrated in the process?

[2017-03-31 16:21] samson8720 opened #58 "Error when creating a branch: "no password supplied""
Software:  QGIS 2.18 and versioning plugin obtained through QGIS

After creating a versioned group I attempted to create a branch.  The following error results:
--------------------------------------------------------------------------------------------------------
2017-03-31T11:44:58	1	Traceback (most recent call last):
			  File "C:/Users/geoproject/.qgis2/python/plugins\qgis_versioning\versioni

[2017-03-31 20:09] vmora commented on #56
@gignacnic I have made some progresses on the travis front too, the problem now is that the pyspatialite module cannot be found (although it's installed) see #57 for details of travis failures.

Also the units tests can now be run from the qgis python console:
[code]

[2017-03-31 20:20] gignacnic commented on #58
It looks that your connection to DB is still not active in your project. You can do that by choosing to save user and password while establishing the PostGIS connection: https://i.stack.imgur.com/jJB8v.png

[2017-03-31 20:40] samson8720 commented on #58
Thank you for the quick reply.  I had the same thought about saving the username and password in the connection.  Still received the same error message.  I might mention I am using Windows 7.

[2017-04-01 13:08] samson8720 commented on #58
Like many steps with QGIS-PostGIS, I failed to refresh connections before attempting to create a branch.

[2017-04-01 13:08] #58 closed

[2017-04-02 00:47] gignacnic commented on #56
This problem is related to checkout without selecting any features in the table in QGIS before checking out. Once you select any element in QGIS before doing a checkout it works as expected with QGIS 2.18. So we need to look at the command that is executing a checkout with selection to fix the problem.

[2017-04-04 15:40] ar-jan commented on #51
I get a similar probem (Windows 7, QGIS 2.18.5, qgis-versioning 0.6, PostgreSQL 9.6, PostGIS 2.3). Same cause? Any clues what's wrong?

[2017-04-04 16:03] gignacnic commented on #51
What type of layers you have in the group layer in QGIS you are versioning (printscreen)? It seems that you have combined in the group, layers that are not postgres and it seems to be either a: TileLayer (https://github.com/Oslandia/qgis-versioning/issues/51#issuecomment-291540352) or a source that did not open successfully (https://github.com/Oslandia/qgis-versioning/issues/51#issue-190642727)...

[2017-04-04 16:56] ar-jan commented on #51
Hmm, interesting. So I had created a normal group in the Layers Panel (Add Group), then added just one PostGIS layer to this group.

I now created a new project and did the same thing, and the "historize" action worked correctly. The only difference is that in my earlier project, there were also other groups with layers in them when I first tried, but I had selected the one with only the PostGIS l

[2017-04-06 03:41] gignacnic commented on #19
How to make it work with Spatial Checkout and ogr2ogr for Mac OS, here are the command to use in the Terminal in Mac, first:
export PATH=/Library/Frameworks/GDAL.framework/Programs:$PATH
then:
/Applications/Qgis.app/Contents/MacOS/Qgis

[2017-04-06 13:53] vmora commented on #19
@gignacnic we could add os.environ["PATH"] +=  ":/Library/Frameworks/GDAL.framework/Programs"
at the start of versionning when the os is Mac.

Maybe test if it's already in there first.

[2017-04-07 01:18] gignacnic commented on #19
ok, it works, I will send it into the PR#60.

[2017-04-07 06:24] vmora commented on #19
@gignacnic nope, you should base your branche on my #57 since #60 is not going to be merged (it's been merged manually in #57)

[2017-04-07 06:58] vmora commented on #56
@Sameme can you confirm it's fixed by #57 (the last zip I sent you) such that I can merge and close ?

[2017-04-07 07:00] vmora commented on #55
Can you give me examples of fields names that are abbreviated ? I'll make a unit test to roproduce (If I can because it be be fixed in new gdal versions)

[2017-04-07 07:04] vmora commented on #49
@Sameme, @guyschvitz can you confirm that the proposed solution works and close ?

If you need support for spaces in path, then open another issue with that in the name.

[2017-04-07 07:10] vmora commented on #47
The plugin tries to guess the connection to posgresql, but fails because there are several postgresql databases in the project.

Can you confirm and change the title to "Add support for project with heterogeneous posgresql sources" ?

[2017-04-07 07:12] vmora commented on #43
@ymoisan from the discussion, I think we can close that, can you confirm ?

[2017-04-07 07:17] vmora commented on #17
@Roel can you confirm that it's fixed in recent plugins version and close ?

[2017-04-07 07:17] #14 closed

[2017-04-07 07:19] vmora commented on #12
for deployment, use `python -m qgis_verioning.package`

[2017-04-07 07:19] #12 closed

[2017-04-07 07:25] vmora commented on #8
@ymoisan I have recently encountered use-cases when using GIS in simulation, and using posgres as a backbone for simulation systems (i.e. in this case postgres is not used to "centralize" data). But I globally aggree your point.

@hpfast have you tryied ? If it worked some users may be interested in funcding the development of this feature.

[2017-04-07 07:27] vmora commented on #7
This is related to #47

[2017-04-07 07:29] #2 closed

[2017-04-07 07:44] #49 closed

[2017-04-07 08:04] Sameme opened #61 "SL filter (subset) checkout only checkout polygon layer and not point layer"
My initial testing from last night shows great improvement using it with QGIS 2.18, the issue I noticed is that while trying to create a filtered (subset) checkout only the polygon layers subset could be checked out. The point filtered (subset) geometry and attribute wasn't included, just the layer name.

But when I tried checkout out my whole database without any filter, all layers including poly

[2017-04-07 08:32] #56 closed

[2017-04-07 08:34] Sameme commented on #55
I noticed this on fields with data type string  or text.

Find screenshot

![string issue](https://cloud.githubusercontent.com/assets/12427102/24792308/5a5d4f48-1b75-11e7-963d-dc5261382730.JPG)

[2017-04-07 09:23] vmora commented on #55
I added a unit test with a very long name, and the checkout, edit, commit without reproducing.

Are you able to run the test in the qgis python console ?

[2017-04-07 10:29] Sameme commented on #55
Tested with QGIS 2.14 and 2.18  with this result..13/13 failed. See screenshot below
![test](https://cloud.githubusercontent.com/assets/12427102/24796543/3ccb64dc-1b85-11e7-972e-f17e9ffbeb52.JPG)

[2017-04-07 10:32] Sameme commented on #55
Also on QGIS 2.14, the filtered checkout came out with both the points and polygon filtered layer. But when I inserted, on point layer the string field input was not abbreviated anymore but on the polygon layer, it is still abbreviating string to the First letter.

[2017-04-07 10:59] vmora commented on #55
@Sameme can you send me your data (`pg_dump yourbase > yourbase.sql`  and the .sqlite file before commit) ?

Because this bug seem to be really specific and if I cannot reproduce it, I cannot fix it.

[2017-04-07 11:01] Sameme commented on #55
OK. will share that with you.

[2017-04-07 11:13] vmora commented on #55
Thank a lot, you have a place to upload indicated in my PM an instant ago

[2017-04-07 12:46] Sameme commented on #55
Files uploaded now.

[2017-04-07 13:23] vmora commented on #55
@Sameme could you plz re-run the test with the new plugin (more output)

[2017-04-07 13:32] Sameme commented on #55
The latest that I downloaded from pydio  I got this ....see attachment
![new](https://cloud.githubusercontent.com/assets/12427102/24802232/15a3c664-1b9f-11e7-8845-6dfc589e1d29.JPG)

[2017-04-07 14:14] samson8720 opened #62 "Corrupted Versioned Layers When Reloading"
QGIS 2.18.5  | Versioning plugin 0.6 |  Windows 7

After creating a version from a group layer (point, line and polygon layers), and then clearing QGIS of the project, an error occurs when reloading the views for the point and line layers.  The polygon layer reloads without a problem (the metadata window is populated).  The "properties" for the point and line layers shows the word "error" in the m

[2017-04-07 14:51] vmora commented on #55
@Sameme could you plz re-run the test with the new plugin (more output)

[2017-04-07 15:20] vmora commented on #55
@Sameme sorry, wrong action (no need to retest yet).

It would work if you define ane environment variable PYTHONPATH to your .qg2/python/plugins directory

I'll change the test to avoid that requirement, but could you define this variable and run the test in plain windows command line:
[code]

since I'm already testing for the bugs, it would help to know if the tests pass on your system.

in the

[2017-04-07 15:33] vmora commented on #55
@Sameme ok, using the revision, I'm able to reproduce the trunctation bug.

[2017-04-07 15:58] vmora commented on #55
found the bug in column casting in postgres when integrating data from _diff schema to table.

[2017-04-07 16:28] vmora commented on #55
@Sameme the bug is fixed. It was caused by the cast to the postgis type (in this case caharcter(256)) wich did not take into account the size, so was casting to character.

You'll find the fixed plugin .zip in the same place you found the previous.

[2017-04-07 16:41] Sameme commented on #55
Thanks Vincent for the hard work. My apology for not adding the revision table. My database is huge so I decided to backup my most important tables (point and polygon) forgetting to add the revision table along.

I am happy you finally found the bug. I will go through your instruction now and test.

[2017-04-07 16:47] vmora commented on #61
Thanks to your data, I'm now able to reproduce.

I should be able to fix that on Monday morning, for the moment what I see is that the temporary view is correctly created and that the data must be lost in the transfer to spatialite.

[2017-04-07 17:15] vmora commented on #55
@Sameme the revision table is really light, and really painfull to recreate, also contains real data (commit msg and authors)

Same thing for the trunk_rev_head views, that are necessary for working with the plugin, and I've had to hack the create_branch function to restore this view (I think the create view function doen't work with head, we could fix that to solve this particular problem).

I wh

[2017-04-07 17:20] Sameme commented on #55
@vmora Would still like me to re-backup with the revision table and re-share with you?

[2017-04-07 18:19] Sameme commented on #55
The test is still failing on the cmd. I will continue with checkout test later in the night or tomorrow morning when I rest a bit
![cmd](https://cloud.githubusercontent.com/assets/12427102/24813713/002636f0-1bc7-11e7-9f86-ca3a322574d6.JPG)

[2017-04-09 19:24] Sameme commented on #55
Also had some test with the new download, working fine now. I will carryout more test Monday morning.

[2017-04-10 07:24] vmora commented on #55
No, thanks, I'm able to reproduce #61 with what you gave me before.

You shoud be able to run one tes that fail to have more detail, e.g. :

From what I see in your output, youe environment variabes PYTHONPATH and PYTHONHOME are not configured properly.

[2017-04-10 09:53] #55 closed

[2017-04-10 09:53] #61 closed

[2017-04-10 09:56] vmora commented on #61
@Sameme, fixed, You'll find a fixed version at the same place for testing.

[2017-04-10 12:02] vmora commented on #62
Can you reproduce with the latest version I sent: there was a major issue with partial checkout (wrong features ids), that may be the source of this problem.

If it's not the case, I'll definitely need a precise procedure to reproduce the problem.

[2017-04-11 09:20] Sameme opened #63 "PostGIS checkout: Filter (subset) of DB needs to be enabled"
@vmora  Currently to filter and checkout a subset of your database is only possible with the spatialite checkout. This functionality needs to be made possible on the PostGIS view checkout as well.

[2017-04-11 14:40] samson8720 commented on #62
During this past weekend I discovered the problem to my posted issue.  Although an "id" field was identified as the primary key when importing a shapefile with DB Manager, this information was not saved in the PostGIS database.  Adding the PostGIS layers (after importing the shapefiles) with Layer --> Add Layer --> Add PostGIS Layers, the problem was identified.
![Uploading samson.jpg…]()

[2017-04-11 15:02] samson8720 commented on #62
During this past weekend I discovered the problem to my posted issue.  Although an "id" field was identified as the primary key when importing a shapefile with DB Manager, this information was not saved in the PostGIS database.  Adding the PostGIS layers (after importing the shapefiles) with Layer --> Add Layer --> Add PostGIS Layers, the problem was identified.
![Uploading samson.png…]()

[2017-04-11 15:32] samson8720 commented on #62
During this past weekend I discovered the problem to my posted issue. Although an "id" field was identified as the primary key when importing a shapefile with DB Manager, this information was not saved in the PostGIS database. Adding the PostGIS layers (after importing the shapefiles) with Layer --> Add Layer --> Add PostGIS Layers, the problem was identified.

![Uploading samson.png…]()

[2017-04-11 15:32] #62 closed

[2017-04-11 15:34] samson8720 commented on #62
During this past weekend I discovered the problem to my posted issue. Although an "id" field was identified as the primary key when importing a shapefile with DB Manager, this information was not saved in the PostGIS database. Adding the PostGIS layers (after importing the shapefiles) with Layer --> Add Layer --> Add PostGIS Layers, the problem was identified.   The "Feature ID" for each layer was

[2017-04-11 15:58] gignacnic commented on #62
I think it is a related to a well known problem in QGIS with primary key (id) and PG views, not the plugin: https://lists.osgeo.org/pipermail/qgis-user/2015-August/033083.html
https://hub.qgis.org/issues/11317

[2017-04-11 16:06] gignacnic commented on #51
Yes, you need to have a group layer that includes only the layers that you want to "historize" in PG.

[2017-04-11 16:06] samson8720 commented on #62
Thanks!  I appreciate the explanation for the issue I am having.

Scott A. Samson, Extension Professor
Geosystems Research Institute
Mississippi State University
Research Blvd 2
Mississippi State, MS 39762
Email:  ssamson@gri.msstate.edu<mailto:ssamson@gri.msstate.edu>
Ph:  662-769-1654

From: gignacnic [mailto:notifications@github.com]
Sent: Tuesday, April 11, 2017 11:58 AM
To: Oslandia/qgis-vers

[2017-04-12 18:19] ar-jan commented on #51
But is it expected that there can be *no other* groups in the project? I thought that the historize action would act on just the selected group, so it shouldn't matter that there are also other groups.

[2017-04-19 20:33] gignacnic commented on #23
Does this is still an active bug? Can you try to do it with latest release of plugin (0.7, April 2017) and latest QGIS release.

[2017-04-19 20:36] gignacnic commented on #63
This functionality can be develop as it was for the SL file, as creating a temp checkout view with filter using ogr2ogr and create it in the new checkout schema.

[2017-04-20 05:32] vmora commented on #63
@gignacnic actually it's even simpler because the postgis checkout is already a view, we only need to add a condition (id in) to the view defiinition.

[2017-04-21 01:13] samson8720 opened #64 "Error when attempting a second conflict resolution"
I appreciate the patience and assistance with my inquiries.

The first time a conflict is detected between a working copy and the trunk revision head, all works well.  After making an edit to create a conflict a second time with the same table, the following Python error is created

2017-04-20T21:00:19	1	Traceback (most recent call last):
			  File "C:/Users/GEOSYS/.qgis2/python/plugins\qgis_versi

[2017-04-25 23:06] gignacnic commented on #64
From what I understand, you have not committed after the first conflict? What have you done when you had to remove or keep mines vs theirs? Based on the documentation: http://www.oslandia.com/qgis-versioning-plugin-en.html
_To resolve conflicts, the user can open the conflict layer's attribute table. Selected entries are also selected on the map canvas and the user can decide which version, either

[2017-04-26 18:12] samson8720 commented on #64
Here are the steps taken to generate the error message.  The user has superuser privileges.  Edits below are made on the same computer.

1.  Two working copies were created from the trunk_rev_head:  working_copy_1 and working_copy_2.

2.  Working_copy_1 started an edit session, reshaped a polygon, saved edits and exited the edit session.

3.  Working_copy_1 commits the changes.

4.  Working_copy_2

[2017-04-27 02:31] gignacnic commented on #64
Ok, have you done a commit of working copy 2 after step #7? After a commit, a new checkout should be done once again.

[2017-04-27 11:30] samson8720 commented on #64
After working copy 2 does a commit, working copy 2 must be removed and another working copy created in place of the removed working copy 2?

[2017-04-27 11:33] gignacnic commented on #64
Yes

[2017-04-27 13:38] samson8720 commented on #64
Thank you for your help.  I understand the workflow much clearer now.  Problem resolved.

[2017-04-27 13:38] #64 closed

[2017-05-03 07:22] #63 closed

[2017-05-22 03:06] gignacnic opened #66 "foreign key violates and error in PG for SL checkout"
When doing a checkout in SpatiaLite format, views created is where the editing should occur. However, if by mistake any users edits (ex. delete, insert, etc.) in the SL tables instead of the view, it creates IntegrityError in PG later and could not commit. In checkout, no contraint (ex. foreign key : trunk_child, trunk_parent) presents in the PG tables are created in SL tables. The behaviour shoul

[2017-05-23 06:31] kadarivan opened #67 "Recognize if a schema is versioned + option to historize new tables in versioned schema"
If I add a versioned table (not a branch view) to a group, the "historize" button is enabled (#20).
Now very difficult to historize a new table in a versioned schema. I must add the 4 columns to the table and create view in the branch schema. It should be automated.

[2017-06-07 12:51] ar-jan commented on #51
Just tried it again in a new project, and it seems that currently the only way historize a group is to have *no other groups with layers present anywhere in the QGIS project*. There can only be one group with the PostGIS layer to be versioned, or I get `AttributeError: 'TileLayer' object has no attribute 'providerType'`.

[2017-06-07 13:14] ar-jan commented on #7
It would be a great feature to have on the roadmap. For example, the local PostgreSQL server might be more powerful. Or for when you need to take a laptop into the field.

[2017-06-08 01:12] gignacnic commented on #7
If you do want to have a local PostgreSQL on a laptop that you want to bring into the field, it can be done by going into this workaround after doing a PG checkout on the main source DB:
1- Dump the 3 schemas (schema source, schema truck, schema just been checkout);
2- Restore of dump 1) into another local instance PG (laptop yo bring to the field)
3- Modified this local PG checkout data with QGIS

[2017-06-08 11:12] ar-jan commented on #7
Thanks for describing these steps @gignacnic!

[2017-06-21 11:43] kadarivan opened #68 "gid should be the first column in views (not geom)"
QGIS failed to recognise the private key of view if the geom is the first column. So I can't add layer from QGIS Browser or DB Manager.
(I can add the layer with Add PostGIS Layers button, but in this case, I must select the private key every time manually)

[2017-06-29 14:07] gignacnic commented on #68
This is QGIS limitation, but not related to the plugin. What you can do and I have done it and test it successfully, it is to update in PgAdmin this view by reordering fields in the SELECT.
You just have to update by replacing the view created by the plugin in the trunk schema and reorder default fields and placing unique_id as the first column:
CREATE OR REPLACE VIEW trunk_rev_head.view_name WITH

[2017-07-01 06:52] kadarivan commented on #68
Thanks, i did it. But it means, that I must do it with all my colleges' PGcheckout shemas.
I hoped, it could be changed in the plugin. The plugin should not reverse the columns order, when historize the schema, creating the rev_head or new PGcheckout...

[2017-07-04 00:35] gignacnic commented on #68
You do not have to do it for all PG checkout. Once it is done in the trunk schema, every time someone will do a PG checkout afterward, it will use columns order from the trunk view in the checkout.

[2017-07-05 11:32] kadarivan commented on #68
For me, the checkout reverse the columns order (QGIS 2.14.15 LTR, versioning 0.8, PG 9.6, PGIS 2.3.2)

And the CREATE OR REPLACE VIEW... is not working, I must delete the views first: https://www.postgresql.org/docs/9.6/static/sql-createview.html

[2018-02-28 10:09] kadarivan opened #69 "QGIS 3 compatibility"
The qgis-versioning plugin not compatible with QGIS 3.

[2018-02-28 12:00] gignacnic commented on #69
Yes, it is not compatible for now, but contribution are welcome, especially if the interest for this plugin is high.

[2018-08-17 09:21] lbartoletti opened #82 "[BRANCH] Cannot create a working copy on a branch when branch name contains an underscore"

[2019-02-27 15:23] troopa81 opened #86 "Add geometry in QGIS conflict layer"

[2019-02-27 15:25] troopa81 opened #87 "Add support for foreign keys"

[2019-03-12 06:44] troopa81 commented on #86
@vmora Not sure what has to be done, It seems to work for me.

I modify a point in two spatialite working copies, commit one and then when I update the other working copy, I have a conflict layer with my two points.

What am I missing?

[2019-03-12 07:56] vmora commented on #86
Well, it works as it's supposed to work (I designed it that way ;)

You'll have to setup a zoom meeting with Samuel to understand what the problem is.

[2019-11-27 16:52] stepanosokin opened #90 "Conflicts layer fails to add from PostgreSQL"
Hi!
I have PostgreSQL 11.6 and QGIS 3.4. I've made two PostgreSQL server  checkouts. After that edited each checkout so that there is a conflict. I update first checkout, it's ok. But when I update second checkout which has a conflict, I get an error because *_conflicts layer cannot be added to the map. It seems to me that the reason is that qgis is trying to use first row - conflict_id - as gid,

[2019-11-27 19:43] vmora commented on #90
@troopa81 looks like the conflict layers PK is taken from the first layer in the layer three for postgis working copies, I added the bug label because that is not good

@stepanosokin you should be able to workaround the issue by loading the conflict layer manually from qgis (add vector layer).

[2019-11-27 20:10] stepanosokin commented on #90
Thanks for answer! That was the first thing I tried. But it still fails, I can add only *_cflt layer, which is not right as I suppose. I tried to delete the record from *_cflt layer. After that I could add *_conflicts layer, then I had to remove a record from it. And as a result there were no edits from this checkout at all after commit. It's confusing.
By the way, is my version of PostgreSQL (11.

[2019-11-27 20:13] stepanosokin commented on #90
However, I tried to add the layer by dragging, maybe I should try to add it from "add Vector layer" as you suggest. I'll try.

[2019-11-28 08:03] stepanosokin commented on #90
@vmora , I tried to load conflicts layer manually (add Vector layer). I cannot edit the layer's attribute table (delete button doesn't appear). Besides, the Versioning toolbar now says that "layers don't share DB and schema"

[2019-11-28 19:14] vmora commented on #90
@stepanosokin the impossibility to edit may come from the absence of primary key, you can specify the key for qgis in the postgis layer interface.

Normally the conflict layers are in the same schema as the other layers (wich are postgis views in the schema), so I suspect you are not using the right schema.

The plugin has been ported to QGIS 3, so an up-to date 3.4 should work. The plugin as not

[2019-11-29 08:05] stepanosokin commented on #90
@vmora , I've managed to add *_conflicts layer layer manually (using versioning_id as a key) and edit it. But after I remove one of conflicting rows from it's table, the layer in checkout itself keeps both records. So after I commit, the head schema also receives both objects. If I delete one of conflicting rows in the checkout layer itself, than it's ok. But why do I have to do it twice?

[2019-11-29 08:15] stepanosokin commented on #90
Update: seems to work better if to make some edits to checkout layer after resolving a conflict

[2020-06-04 07:09] SebastienPeillet commented on #90
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:09] SebastienPeillet commented on #87
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:09] SebastienPeillet commented on #86
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:09] SebastienPeillet commented on #82
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:09] SebastienPeillet commented on #69
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:09] SebastienPeillet commented on #68
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:09] SebastienPeillet commented on #67
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:10] SebastienPeillet commented on #66
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:10] SebastienPeillet commented on #51
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:10] SebastienPeillet commented on #47
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:10] SebastienPeillet commented on #43
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:11] SebastienPeillet commented on #40
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:11] SebastienPeillet commented on #39
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:11] SebastienPeillet commented on #25
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:11] SebastienPeillet commented on #23
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:12] SebastienPeillet commented on #22
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:12] SebastienPeillet commented on #21
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:12] SebastienPeillet commented on #20
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:12] SebastienPeillet commented on #8
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:12] SebastienPeillet commented on #7
Project migrated to : https://gitlab.com/Oslandia/qgis/qgis-versioning

[2020-06-04 07:42] delhomer commented on #17
Moved to https://gitlab.com/Oslandia/qgis/qgis-versioning/-/issues/17

[2020-06-04 07:42] #17 closed

[2020-06-04 07:43] #7 closed

[2020-06-04 07:43] #8 closed

[2020-06-04 07:43] #20 closed

[2020-06-04 07:43] #21 closed

[2020-06-04 07:43] #22 closed

[2020-06-04 07:43] #23 closed

[2020-06-04 07:43] #25 closed

[2020-06-04 07:43] #38 closed

[2020-06-04 07:44] #39 closed

[2020-06-04 07:44] #40 closed

[2020-06-04 07:44] #43 closed

[2020-06-04 07:44] #47 closed

[2020-06-04 07:44] #51 closed

[2020-06-04 07:44] #66 closed

[2020-06-04 07:44] #67 closed

[2020-06-04 07:44] #68 closed

[2020-06-04 07:44] #69 closed

[2020-06-04 07:45] #82 closed

[2020-06-04 07:45] #86 closed

[2020-06-04 07:45] #87 closed

[2020-06-04 07:45] #90 closed, assigned to nobody